In [1]:
import pandas as pd
import numpy as np

import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, f1_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
import xgboost as xgb

In [2]:
df = pd.read_csv('train.csv', dtype={'True_y': 'bool'});
y_train = df['True_y']
del df['True_y']

df_test = pd.read_csv('test.csv')
df_test = pd.get_dummies(df_test)

df = pd.get_dummies(df)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28721 entries, 0 to 28720
Data columns (total 51 columns):
age                    28721 non-null int64
balance                28721 non-null int64
day                    28721 non-null int64
duration               28721 non-null int64
campaign               28721 non-null int64
pdays                  28721 non-null int64
previous               28721 non-null int64
job_admin.             28721 non-null uint8
job_blue-collar        28721 non-null uint8
job_entrepreneur       28721 non-null uint8
job_housemaid          28721 non-null uint8
job_management         28721 non-null uint8
job_retired            28721 non-null uint8
job_self-employed      28721 non-null uint8
job_services           28721 non-null uint8
job_student            28721 non-null uint8
job_technician         28721 non-null uint8
job_unemployed         28721 non-null uint8
job_unknown            28721 non-null uint8
marital_divorced       28721 non-null uint8
marital_married        28721 non-null uint8
marital_single         28721 non-null uint8
education_primary      28721 non-null uint8
education_secondary    28721 non-null uint8
education_tertiary     28721 non-null uint8
education_unknown      28721 non-null uint8
default_no             28721 non-null uint8
default_yes            28721 non-null uint8
housing_no             28721 non-null uint8
housing_yes            28721 non-null uint8
loan_no                28721 non-null uint8
loan_yes               28721 non-null uint8
contact_cellular       28721 non-null uint8
contact_telephone      28721 non-null uint8
contact_unknown        28721 non-null uint8
month_apr              28721 non-null uint8
month_aug              28721 non-null uint8
month_dec              28721 non-null uint8
month_feb              28721 non-null uint8
month_jan              28721 non-null uint8
month_jul              28721 non-null uint8
month_jun              28721 non-null uint8
month_mar              28721 non-null uint8
month_may              28721 non-null uint8
month_nov              28721 non-null uint8
month_oct              28721 non-null uint8
month_sep              28721 non-null uint8
poutcome_failure       28721 non-null uint8
poutcome_other         28721 non-null uint8
poutcome_success       28721 non-null uint8
poutcome_unknown       28721 non-null uint8
dtypes: int64(7), uint8(44)
memory usage: 2.7 MB

In [3]:
df.head()

,age,balance,day,duration,campaign,pdays,previous,job_admin.,job_blue-collar,job_entrepreneur,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,58,2143,5,261,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
1,44,29,5,151,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
2,33,2,5,76,1,-1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,1
3,33,1,5,198,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
4,28,447,5,217,1,-1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [7]:
#df2 = df[0:50000]

# cols_all = ['age','job','marital','education','default','balance',
#             'housing','loan','contact','day','month','duration','campaign',
#             'pdays','previous','poutcome']
       
X_train = df
#y_train = df['True_y']

model = xgb.XGBClassifier(seed=2019)
#model = RandomForestRegressor()
model.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
              max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
              n_jobs=1, nthread=None, objective='binary:logistic',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
              seed=2019, silent=True, subsample=1)

In [13]:
y_pred = model.predict(df_test)

In [16]:
len(y_pred)
dt = pd.DataFrame(data={'Id': range(len(y_pred)), 'Predicted': y_pred.astype('int')})
dt.to_csv('submission.csv', index=False)